# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
*.egg-info/
*.egg

# Flask
instance/
.webassets-cache
*.db
*.sqlite3

# TypeScript
*.js
*.jsx
*.tsbuildinfo
node_modules/
dist/
build/
out/

# Environment variables
.env
*.env

# VS Code settings
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Miscellaneous
*.swp
*.swo

